 <!DOCTYPE html>
<html lang="en">
<head>
	<title>Emily's News Blog</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
	<meta name="viewport" content ="width-device-width, initial-scale=1.0" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
 
</head>
<body class="body">
	<header class="mainHead">
		
		<p class="logoText"><span class="mainHeader">Emily's News Blog</span></p>
			<nav><ul>
				<li><a href="/">Home</a></li>
				<li><a href="/blog/">Blog</a></li> 
				<li><a href="/blog/archieves">Archives</a></li>
				<li><a href="/polls/">Polls</a><li>
			</ul></nav>
	</header>
	 
</aside>
	{% block content%}
	
	{% endblock %}
	
	 
	<footer class="mainFooter">
	
		<p>copyright &copy; 2014</p>
	</footer>
</body>
</html>